*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.class
*.log
raw_cast*.apk
DroidCast_raw*.apk
examples/platform-tools/
__pycache__/
*.pyc
